<table width="722" class="table table-bordered table-striped table-hover" cellspacing="0" cellpadding="5">
  <thead>    <tr>    <td width="44"><div align="center">No</div></td>    <td width="133"><div align="center">Tanggal</div></td>    <td width="216"><div align="center">Fasilitas</div></td>    <td width="160"><div align="center">Acara</div></td>    <td width="117"><div align="center">Penyewa</div></td>  </tr>  </thead>  <tbody>  <tr>    <td><div align="center">1</div></td>    <td valign="middle"><div align="center">12 Januari 2014</div></td>    <td align="center"><div align="center">Gedung Utama</div></td>    <td align="right"><div align="left">Resepsi Pernikahan</div></td>    <td><div align="left">Heru Hidayat</div></td>  </tr>  <tr>    <td><div align="center">2</div></td>    <td valign="middle"><div align="center">02 Maret 2014</div></td>    <td align="center"><div align="center">Gedung Utama</div></td>    <td align="right"><div align="left">Sosialisasi</div></td>    
    <td>Wawan Hermawan</td>  
  </tr>  <tr>    <td><div align="center">3</div></td>    <td valign="middle"><div align="center">21 April 2014</div></td>    <td align="center"><div align="center">Gedung Penerima I &amp; II</div></td>    <td align="right"><div align="left">Lomba Mewarnai</div></td>    
    <td>Agus Budi</td>  
  </tr>  <tr>    <td><div align="center">4</div></td>    <td valign="middle"><div align="center">20 Mei 2014</div></td>    <td align="center"><div align="center">Gedung Penerima I &amp; II</div></td>    <td align="right"><div align="left">Lomba Melukis</div></td>    
    <td>Herry Prabowo</td>  
  </tr>  <tr>    <td><div align="center">5</div></td>    <td><div align="center">22 Mei 2014</div></td>    <td><div align="center">Gedung Utama</div></td>    <td align="right"><div align="left">Seminar Pendidikan</div></td>    
    <td>Windy Wulandari</td>  
  </tr>  
    <tr>
      <td><div align="center">6</div></td>
      <td><div align="center">07 Juni 2014</div></td>
      <td><div align="center">Halaman Parkir</div></td>
      <td align="right"><div align="left">Konser Musik</div></td>
      <td>Satrio Aji Satya</td>
    </tr>
    <tr>    <td><div align="center">7</div></td>    <td><div align="center">30 Juli 2014</div></td>    <td><div align="center">Gedung Utama</div></td>    <td align="right"><div align="left">Wisuda SMK</div></td>    
      <td>Endang Ningrum</td>  
    </tr>  <tr>    <td><div align="center">8</div></td>    <td><div align="center">15 Agustus 2014</div></td>    <td><div align="center">Halaman Parkir</div></td>    <td align="right"><div align="left">Lomba Agustusan</div></td>    
      <td>Dede Sunandar</td>  
    </tr>  
    <tr>
      <td><div align="center">9</div></td>
      <td><div align="center">18 Agustus 2014</div></td>
      <td><div align="center">Halaman Parkir</div></td>
      <td>Lomba Agustusan</td>
      <td>Prio Budi Warta</td>
    </tr>
    <tr>
      <td><div align="center">10</div></td>
      <td><div align="center">15 September 2014</div></td>
      <td><div align="center">Gedung Utama / Halaman Parkir</div></td>
      <td>Otomotif</td>
      <td>Gama Eka Satya</td>
    </tr>
    <tr>
      <td><div align="center">11</div></td>
      <td><div align="center">22 September 2014</div></td>
      <td><div align="center">Gedung Utama </div></td>
      <td>Bazar Buku</td>
      <td>Naufal Ahmad</td>
    </tr>
    <tr>
      <td><div align="center">12</div></td>
      <td><div align="center">01 Oktober 2014</div></td>
      <td><div align="center">Halaman Parkir</div></td>
      <td>Konsermusil</td>
      <td>Yusriatul Imi</td>
    </tr>
    <tr>
      <td><div align="center">13</div></td>
      <td><div align="center">10 November 2014</div></td>
      <td><div align="center">Halaman Parkir</div></td>
      <td>Kampanye</td>
      <td>Gila Gildatra</td>
    </tr>
    <tr>
      <td><div align="center">14</div></td>
      <td><div align="center">27 Desember 2014</div></td>
      <td><div align="center">Gedung Utama</div></td>
      <td>Acara Keagamaan</td>
      <td>Frank Sinatra</td>
    </tr>
    <tr>
      <td><div align="center">15</div></td>
      <td><div align="center">30 Desember 2014</div></td>
      <td><div align="center">Halaman Parkir</div></td>
      <td>Tahun Baru</td>
      <td>Priambody</td>
    </tr>  </tbody></table>
