﻿.list_carousel {}
.list_carousel ul {
    margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	margin: 10px;
	display: block;
	float: left;
	height: 250px;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}