body
{
	padding: 0;
	margin: 0;
	font-family:'Roboto', "Helvetica Neue",  Arial, Helvetica, sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
}
.the-box-over
{
	width: 225px;
	float: left;
	overflow: hidden;
	position: relative;
	height: 225px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 1px solid #CC3300;
}

.the-box-over img 
{
	width: 100%;
	float: left;
	position: absolute;
	z-index: 0;
}


.the-box-over h1 
{
	clear: both;
	position: absolute;
	bottom: -12px;
	z-index: 10;
	float: left;
	color: #FFFFFF;
	font-size: 16px;
	width: 94%;
	padding: 10px 3%;
	background: #111111;
	background: rgba(0, 0, 0, 0.70)
}

.caption-over
{
	z-index: 100;
	width: 185px;
	padding: 20px;
	height: 200px;
	position: absolute;
	background: transparent;
	background: rgba(0, 0, 0, 0.70);
	zoom: 1;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); /* IE 6 & 7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
	color:#FFFFFF;
	display: none;
	text-decoration: none;
}

.caption-over h2
{
	float: left;
	color: #FFFFFF;
	font-size: 16px;
}

.caption-over p 
{
	float: left;
	clear: both;
	margin-top: 10px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
}
