@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Exo);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
	background-color: #B60D10;
	padding: 0px;
	margin: 0px;
}
#head {
	height: 150px;
	width: 100%;
}
#d-head {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
}
#logo {
	float: left;
	margin-right: 15px;
}
#head-kanan {
	float: left;
	width: 550px;
	margin-top: 45px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FED3D3;
}
.besar {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 18px;
	font-weight: bold;
	text-shadow: 2px 2px 0px #000;
	color: #FFFFFF;
}
.slogan {
	font-family: Ubuntu;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: capitalize;
}
#menukanan {
	float: right;
	width: 200px;
	text-align: right;
	padding-right: 15px;
}
#menukiri {
	float: right;
	width: 250px;
}


#banner-dalam {
	width: 300px;
	position: relative;
	float: left;
	margin-top: 10px;
}
#bahasa {
	text-align: right;
	margin-bottom: 60px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 3px;
	padding-bottom: 6px;
	padding-left: 3px;
}
#bahasa a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
#bahasa a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: underline;
}

#menu {
	height: 40px;
	width: 100%;
	background-repeat: repeat-x;
	z-index: 9999;
	background-image: url(../images/bgMenu.png);
}
#d-menu {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
#tengah {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #B60D10;
	border: 1px solid #FFFFFF;
}
#banner {
	margin-top: -15px;
	z-index: 1;
	position: absolute;
}
#kareer {
	background-color: #820100;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 1px;
}
#d-kareer {
	background-color: #820100;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFEBEA;
	padding-right: 300px;
}
#logo-karir {
	float: left;
	height: 100px;
	width: 100px;
	margin-right: 25px;
}
#d-kareer H2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFEBEA;
	font-size: 18px;
}

#ourservice {
	width: 1030px;
	margin-right: auto;
	margin-left: auto;
}
#judul-ourservice {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 200px;
	margin-bottom: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFEBEA;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFEBEA;
	margin-left: 5px;
}

#kol1  {
	float: left;
	width: 237px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #820100;
	padding: 5px;
}


#foot {
	background-color: #AC0D11;
	width: 100%;
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
}
#d-foot {
	width: 1030px;
	margin-right: auto;
	margin-left: auto;
}
#clr {
	clear: both;
}
.cari {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	padding: 6px;
	border: 1px solid #B60D10;
}

#foot-1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFE6FF;
	float: left;
	width: 180px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #980C0F;
	margin-right: 15px;
	height: 150px;
}
#foot-1 a {
	color: #FFEBEA;
	text-decoration: none;
}
#foot-1 a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}


#foot-1 h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#d-foot-coppy {
	width: 1030px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4F0000;
	font-size: 12px;
}
.logocarir {
	border-radius: 50px;
}
#d-content {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 25px;
}
#gmap {
	height: 300px;
	width: 100%;
	border: 1px solid #00FF00;
	top: -30px;
}
#content-kiri {
	float: left;
	width: 700px;
}
#content-kanan {
	float: left;
	width: 300px;
	margin-left: 24px;
}
.inputan {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #590202;
	border-radius: 5px;
	background-color: #FFF0F0;
}
#det-kontak {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFEA95;
}
.judul-pesan {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFEA95;
}
.isitabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFEA95;
}
.inputan:focus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #0066CC;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #0066CC;
	background-color: #FFFFFF;
}
.required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #590202;
	border-radius: 5px;
	background-color: #FFF0F0;
}
#isi-dalam-kontak {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #A20200;
	padding-right: 35px;
	padding-left: 35px;
}
#det-kontak h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}


#isi-dalam {
	background-color: #8A0304;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #A20200;
	height: 100%;
	padding: 15px;
}
#isi-dalam-kiri {
	float: left;
	width: 300px;
	padding-top: 15px;
	height: 100%;
}
#wrap-berita {
	background-color: #8A0304;
}
#beritakiri {
	padding: 6px;
	margin-bottom: 1px;
	background-color: #C00806;
}
#beritakiri-judul {
	float: left;
	width: 197px;
	text-decoration: none;
}
#beritakiri-foto {
	float: left;
	width: 80px;
	margin-right: 7px;
}
#beritakiri-judul a {
	text-decoration: none;
	font-family: Ubuntu;
	font-size: 15px;
	color: #FFEA95;
}
#beritakiri-judul a:hover {
	text-decoration: underline;
	font-family: Ubuntu;
	font-size: 15px;
	color: #FFEA95;
}
#banner-dalam {
	width: 300px;
	position: relative;
	float: left;
	margin-top: 10px;
}
#cust-img {
	margin: 2px;
	padding: 2px;
	height: 45px;
	border: 1px solid #C00806;
	float: left;
}
.tanggalberita {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8A0304;
	text-decoration: none;
}

#isi-dalam-kanan {
	float: left;
	width: 650px;
	padding-top: 15px;
	padding-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFCCCC;
	line-height: 20px;
	background-image: url(../images/gegee.jpg);
	background-repeat: repeat;
}
#isi-dalam-kanan img {
	background-color: #FFFFFF;
	padding: 7px;
	border: 1px solid #CACACA;
}

#isi-dalam-kontak {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0076AE;
	height: 100%;
	font-family: Ubuntu;
	font-size: 14px;
	line-height: 18px;
	padding: 20px;
}
.judul-page {
	font-family: Ubuntu;
	font-size: 24px;
	color: #FFDDDD;
	margin-bottom: 25px;
	display: block;
}#isi-konten {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #A20200;
	height: 100%;
	padding: 15px;
}
#isi-konten-kanan {
	float: left;
	width: 300px;
	padding-top: 15px;
	height: 100%;
	margin-left: 15px;
}
#isi-konten-kiri {
	float: left;
	width: 650px;
	padding-top: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	background-image: url(../images/gegee.jpg);
	background-repeat: repeat;
	padding-right: 25px;
}

#beritakanan {
	padding: 6px;
	margin-bottom: 1px;
	background-color: #C00806;
}
#beritakanan-judul {
	float: left;
	width: 197px;
	text-decoration: none;
}
#beritakanan-foto {
	float: left;
	width: 80px;
	margin-right: 7px;
}
#beritakanan-judul a {
	text-decoration: none;
	font-family: Ubuntu;
	font-size: 15px;
	color: #FFEA95;
}
#beritakanan-judul a:hover {
	text-decoration: underline;
	font-family: Ubuntu;
	font-size: 15px;
	color: #FFEA95;
}
