#full-width-slider {
	width: 100%;
	color: #000;
	padding-top: 0px;
	z-index: 9999;
}
.coloredBlock {
  padding: 12px;
  background: rgba(255,0,0,0.6);
  color: #FFF;
   width: 300px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: 0px;
  height: 100%;
  left: auto;
  width: 20%;
  padding-bottom: 0;
  padding-left: 80px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
}
.infoBlockLeftBlack {
  color: #333333;
  background: transparent;
  background: rgba(255,255,255,0.75);
  left: 0px;
  right: auto;

}
.infoBlock h4 {
	font-size: 20px;
	line-height: 1.2;
	margin: 0;
	padding-bottom: 3px;
	color: #C4DBE3;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 40px;
	margin-left: -20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.infoBlock p {
	font-size: 17px;
	color: #FFF;
	font-weight: 400;
	margin: 4px 0 0;
	line-height: 30px;
	margin-left: -20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}


.infoBlockInside {
  position: absolute;
  top: 0px;
  height: 100%;
  left: auto;
  width: 20%;
  padding-bottom: 0;
  padding-left: 80px;
   background: transparent;
  background: rgba(0, 0, 0, 0.6);
    
zoom: 1;    
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); /* IE 6 & 7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
  overflow: hidden;
  padding-top: 10px;
  padding-right: 20px;
}

@media screen and (max-width: 800px){
  .infoBlockInside{
    visibility: hidden;
  }
  .infoBlock{
    visibility: hidden;
  }
}

.infoBlockLeftBlack {
  color: #333333;
   background: transparent;
  background: rgba(0, 0, 0, 0.6);
    
zoom: 1;    
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); /* IE 6 & 7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
  left: 0px;
  right: auto;

}
.infoBlockInside h4 {
	font-size: 12px;
	line-height: 1.2;
	margin: 0;
	padding-bottom: 3px;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.infoBlockInside p {
	font-size: 16px;
	color: #FFF;
	font-weight: 300;
	letter-spacing: 0px;
	margin: 4px 0 0;
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.infoBlockInside a {
  color: #FFF;
  text-decoration: underline;
}



.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; 
} 
.photosBy a {
  color: #000;
}
.fullWidth {
  /* max-width: 1400px; */
  margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 520px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }
  .infoBlock {
    padding: 10px;
    height: auto;
    max-height: 100%;
    min-width: 40%;
    left: 5px;
    top: 5px;
    right: auto;
    font-size: 12px;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }
}


.sizeL .infoBlock h4 {
	font-size: 26px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.sizeL .infoBlock p {
	font-size: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.sizeL .infoBlockInside h4 {
  font-size: 16px;
}
.sizeL .infoBlockInside p {
  font-size: 21px;
}
