nav ul ul {
 display: none;
}
nav ul li:hover > ul {
 display: block;
}
nav ul {
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
	z-index: 9999;
}
nav ul:after {
 content: ""; clear: both; display: block;
}
nav ul li {
 float: left;
}
nav ul li:hover {
	background-color: #850200;
}
nav ul li:hover a {
 color: #fff;
}
nav ul li a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 11px;
	padding-right: 25px;
	padding-bottom: 11px;
	padding-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #820200;
	border-left-color: #B60D10;
}
nav ul ul {
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	background-color: #850200;
}

nav ul ul li {
	float: none;
	position: relative;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #850200;
	border-bottom-color: #A80400;
}
nav ul ul li a {
	color: #fff;
	padding-top: 11px;
	padding-right: 25px;
	padding-bottom: 11px;
	padding-left: 25px;
} 
nav ul ul li a:hover {
	background-color: #B70400;
}
nav * {
	margin: 0px;
	padding: 0px;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
	width: 100%;
}
